/* Nav transition */
.nav-menu {
  transition: ease-in-out 250ms;
}
@media (min-width: 768px) {
  .nav-menu {
    transition: none;
  }
}

/* Links, buttons style */
a,
button {
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}
@media (hover) {
  a:hover,
  button:hover {
    color: hsl(0, 0%, 8%);
    text-shadow: 0 0 0.01px hsl(0, 0%, 8%);
  }
}
